<h1><%= @person.first_name() %></h1>
  <h1><%= @person.last_name() %></h1>
  <h1><%= @person.job_title() %></h1>
  <h1><%= @person.company() %></h1>
  <h1><%= @person.address() %></h1>
  <h1><%= @person.phone_number() %></h1>




  <a href="/">Home</a>
